*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000000;
}


.main-screen-section{
    width: 100%;
    height: 82vh;
    background: linear-gradient(101.72deg, rgba(250, 178, 152, 0.48) 4.77%, #F4DED6 28.36%, #F8EAE5 88.9%, rgba(255, 255, 255, 0) 101.84%);
}


.inner-wrapper {
    max-width: 1375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.delivery-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    background: #000000;

}


.delivery-content{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


.cta-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}


.header{
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 40px;
}


.logo-link{
    margin-left: 60px;
    margin-right: 265px;
}


.logo{
    width: 180px;
}


.menu{
    margin-right: auto;
}


.menu-item{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}


.menu-item:nth-child(1){
    margin-right: 73px;
}


.menu-item:nth-child(2){
    margin-right: 74px;
}


.menu-item:nth-child(3){
    margin-right: 90px;
}


.menu-item:nth-child(4){
    margin-right: 68px;
}


.menu a:hover{
    color: #8A5137;
    border-bottom: 1px solid #8A5137;;
}


.menu a.active{
    color: #8A5137;
    border-bottom: 1px solid #8A5137;;
}


.shop-basket{
    position: relative;
    cursor: pointer;
}


.shop-basket-image{
    width: 16px;
    height: 19px;
}


.shop-values{
    position: absolute;
    left: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #000000;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}


.cta-block{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}


.cta-image{
    max-width: 926px;
    max-height: 1204px;
    width: 60%;
    mix-blend-mode: multiply;
    margin-top: 96px;
}

.h1{
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 13px;
}


.cta-content{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-left: 33px;
}


.button{
    width: 316px;
    height: 70px;
    background: #000000;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
    outline: none;
    cursor: pointer;
}


.button:hover{
    opacity: .7;
}


.section.section-product{
    background: #000000;
    color: #FFFFFF;
}


.product-advantages{
    display: flex;
    position: relative;
    margin-right: auto;
}


.product-offer{
    width: 42%;
}


.product-logo{
    width: 264px;
    height: 27px;
    margin-left: 252px;
    margin-top: 140px;
}


.offer-title{
    margin-top: 26px;
    font-weight: 300;
    font-size: 22px;
    line-height: 170%;
    text-align: center;
    margin-left: 172px;
    margin-bottom: 131px;
}


.product{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.product-block{
    margin-top: 44px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-image: url('./img/product-sale/background-image-product-sale.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vh;
}


.product-image{
    width: 689px;
    height: 692px;
}


.product-sale-block{
    display: flex;
    flex-direction: column;
    position: relative;
}




.product-user-image{
    max-width: 570px;
    width: 100%;
    max-height: 850px;
    height: 85%;
    position: absolute;
    right: 95px;
    bottom: 635px;
    mix-blend-mode: normal;
}


.product-sale-block .h1{
    font-weight: 200;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    margin-top: 206px;
}


.rating{
    font-weight: 300;
    font-size: 18px;
    line-height: 125.5%;
    margin-top: 40px;
    margin-left: 184px;
}


.stars{
    width: 17px;
    height: 17px;
    color: #000000
}


.stars:last-child{
    color:#CBCBCB;
}


.product-subscription{
    width: 61%;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    margin-left: 70px;
    margin-top: 27px;
}


.price{
    display: flex;
    flex-direction: row;
    margin-top: 21px;
    text-align: center;
    align-items: center;
    margin-left: 190px;
}



.old-price{
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
    opacity: 0.5;
    text-decoration: line-through;
    margin-right: 10px;
}


.new-price{
    font-weight: 200;
    font-size: 30px;
    line-height: 150%;
    
}


.product-sale-block .button{
    margin-top: 28px;
    margin-left: 129px;
    margin-bottom: 132px;
}


.durection-block{
    background: #FCD1C2;
}


.product-process{
    display: flex;
    flex-direction: column;
    position: relative;
}


.product-process-image{
    max-width: 1400px;
    width: 100%;
    max-height: 900px;
    height: 50%;
    mix-blend-mode: multiply;
}


.product-process-title{
    font-weight: 200;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.steps-for-use{
    display: flex;
    flex-direction: column;
    position: relative;
}


.used-title{
    font-family: 'Bellamy Signature', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 442px;
    line-height: 412px;
    text-align: center;
    color: #000000;
    opacity: 0.05;
}


.p{
    font-weight: 200;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    position: absolute;
    margin-top: 180px;
    margin-left: 407px;
}


.steps-wrapper{
    display: flex;
    margin-left: 159px;
}


.step-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 318px;
    margin-bottom: 17px;
    margin-left: 15px;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #8A5137;
    box-sizing: border-box;

}


.step-circle:last-child{
    margin-right: 0;
}


.step .content{
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: start;
    margin-bottom: 128px;
}


.section-testimonials{
    background: #E5E5E5;
}


.section-testimonials .h2{
    padding-top: 90px;
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    line-height: 150%;
}


.slider-wrapper{
    margin-top: 27px;
}


.testimonials{
    width: 33.3%;
    margin-left: 132px;
    margin-right: 132px;
    text-align: center;

}


.testimonials-photo{
    width: 86px;
    height: 86px;
    margin-bottom: 10px;
}


.testimonials-name{
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    margin-bottom: 21px;
}


.testimonial-content{
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    margin-bottom: 280px;
}


.slick-slide{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.section-blog{
    background: #000000;
    height: 85vh;
}


.aloe-vera{
    width: 874px;
    height: auto;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-40%);
}


.background-image{
    width: 438px;
    height: auto;
}


.section-blog .h1{
    font-weight: 200;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 54px;
}


.blogger-inner{
    width: 100%;
    display: flex;
}


.blog{
    width: 33.3%;
    margin-right: 12px;
}


.blogger-photo{
    width: 100%;
    margin-bottom: 12px;
}


.blog-content{
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}


.section-brand{
    padding-top: 197px;
    padding-bottom: 59px;
}


.brand-logo{
    width: 100%;
}


.section-subscribe{
    background: #FCD1C2;
    padding-top: 104px;
}


.section-subscribe .h1{
    font-weight: 200;
    font-size: 40px;
    line-height: 150%;
    text-align: center;

}


.subscribe-wrapper{
    width: 65%;
    display: flex;
    flex-direction: column;
}


.subscribe-content{
    font-weight: 300;
    font-size: 22px;
    line-height: 170%;
    text-align: center;
    margin-left: 133px;
}


.email-user-form{
    width: 315px;
    height: 70px;
    margin-left: 243px;
}


/* .subscriber-image{
    width: 20%;
} */